NEXT_PUBLIC_SUPABASE_URL=https://qkbpbddvaeissoowuotm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrYnBiZGR2YWVpc3Nvb3d1b3RtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4NDIxNzMsImV4cCI6MjEwMDQxODE3M30.fWd—ub5WzrpSzRFpXNJEY6c6P4SdtEm5bpnXWwd8xQ
